body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #ffffff;
  color: #000;
  padding-bottom: 60px;
}

header {
  background-color: #125DFF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

header img {
  width: 80px;
  margin-right: 10px;
}

.banner {
  position: relative;
	top: 5px;
  width: 104%;
  height: 390px;
  background-image: url('../img/imagem-palacio-tj.png');
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid #125DFF;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
	
nav {
  background-color: #125DFF;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0; padding: 0;
  display: flex;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #005fa3;
}

    /* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0072ce;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px 16px;
}

.dropdown-content a:hover {
  background-color: #005fa3;
}

li.dropdown:hover .dropdown-content {
  display: block;
}
	
main {
  margin: 40px auto;
  max-width: 800px;
  text-align: left;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #000;
}
	
	 /* Menu de acesso */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
	
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.menu a {
  display: inline-block;
  padding: 12px 25px;
  background-color: #0072ce;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #005fa3;
}

footer {
  background-color: #f2f2f2;
  padding: 15px;
  font-size: 0.9em;
  color: #555;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
